{% extends "layout_angel.html" %}

{%block title%}
    BUY
{% endblock %}

{%block main%}
    <form action="/buy_angel" method = "POST">
        <div class="mb-3" >
            <input autocomplete="off" class="form-control mx-auto w-auto" autofocus type="word" name="token" placeholder="Token Id" required>
        </div>
        <div class="mb-3" >
            <input autocomplete="off" class="form-control mx-auto w-auto" type="number" name="shares" placeholder="Coins number" required>
        </div>
        <button class="btn btn-primary" type="submit">BUY</button>
        <p>{{ apology }}</p>
    </form>
{% endblock %}
