{% extends "layout_nasdaq.html" %}

{% block title %}
    INDEX
{% endblock %}
{% block main %}
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Count</th>
                    <th scope="col">Current Price</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody  class="table-group-divider" >
                {% for stock in stocks_all %}
                <tr>
                    <td>{{ stock.symbol }} </td>
                    <td>{{ stock.shares }} </td>
                    <td>{{ current_price[stock.symbol] }} </td>
                    {% set total = current_price[stock.symbol] * stock.shares %}
                    <td>{{ total | usd_nasdaq }}</td>
                </tr>
                {% endfor %}
                <tr class="border border-white">
                    <td></td>
                    <td></td>
                    <td class="border border-4" ><strong>Wallet:</strong></td>
                    <td class="border border-4" ><strong>{{ wallet | usd_nasdaq }}</strong></td>
                </tr>
                <tr class="border border-white">
                    <td></td>
                    <td></td>
                    <td class="border border-4" ><strong>Grand Total:</strong></td>
                    <td class="border border-4" ><strong>{{ value | usd_nasdaq }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
